* {
    margin: 0;
    padding: 0;
}



.menu {
    height: 76px;
    width: 100%;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-bottom: 1px solid #F8E0FB;
}

.menu-container {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 0px 4px;
}

.header-logo {
    width: 151px;
    height: 40px;
}

.menu__item {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;
    padding: 12px 12px;
}

.hero {
    background: url('../images/header_background.png') no-repeat;
    background-size: 100% 100%;
    height: 735px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center
}

.hero__title {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
    text-align: center;
    color: #000000;

    text-shadow: -5px 5px 0px #FFFFFF;
}

.hero__text {
    margin-top: 32px;
    width: 650px;
    height: 48px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #532C59;

}

.hero__button {
    margin-top: 32px;
    width: 114px;
    height: 52px;
    background: #532C59;
    border-radius: 15px;
    border: none;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.logos {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.logos-container {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.main {
    display: flex;
    justify-content: center;
}

.main__container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person__title {
    margin-top: 64px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.person__title h1 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
}

.person__title p {
    width: 820px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #532C59;
}


.person__content {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px 64px;
}

.persos__content__item {
    width: 412px;
    text-align: center;
}

.person__content__item__img {
    max-width: 412px;
    height: 396px;
}

.person__content__item__name {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}

.person__content__item__desc {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #532C59;
}

.team {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.team__title {
    margin-top: 80px;
    text-align: center;
    width: 760px;
}

.team__title h1 {
    font-family: 'Syne';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #000000;
}

.team__title p {
    margin-top: 24px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #532C59;
}

.team__list {
    width: 95%;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.team__list {
    text-align: center;
}

.team__list__person {
    max-width: 301px;
}

.person__image {
    height: 80px;
    width: 80px;
}

.person__name {
    margin-top: 12px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.person__post {
    margin-top: 12px;
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #532C59;
}